registry=https://registry.npmmirror.com

SASS_BINARY_SITE=http://npmmirror.com/mirrors/node-sass
ELECTRON_MIRROR=http://npmmirror.com/mirrors/electron/

# pnpm not compatible with webpack5 builtin webpack-terser-plugin
shamefully-hoist=true
